* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  /* Плавный скролл */
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

/* Анимации для переходов */
.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 400ms ease-out, transform 400ms ease-out;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 400ms ease-out, transform 400ms ease-out;
}
